<h1>Welcome to Yelp!</h1>
<h2>This is one of the sample applications for <%= link_to "BaseRails", "https://www.baserails.com" %>, a platform that teaches people to build custom websites with eth Ruby on Rails programming language</h2>
